/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Estilos para el encabezado */
header {
    background-color: #f2f2f2;
    padding: 20px 0;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #ddd;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los elementos de la lista de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
/* Estilos para el espaciador */
.spacer {
    height: 30px;
}