/* Estilos para CarrerasPage */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #f2f2f2;
    padding: 20px 0;
}

nav {
    background-color: #ddd;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilos para las secciones */
section {
    margin: 40px auto;
    max-width: 800px;
}

/* Estilos para el acrónimo STEM */
.stem-acronimo {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.stem-acronimo div {
    flex: 1;
}

/* Estilos para los enlaces en la barra de navegación */
.linkBarra {
    color: #00b5d6;
    text-decoration: none; /* Elimina el subrayado */
    padding: 15px 30px; /* Ajusta el hit box */
    margin-right: 20px; /* Ajusta la separación entre los enlaces */
}

/* Estilos para el enlace Test */
.linkTest {
    color: #3a4972;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    padding: 15px 50px;
    background-color: #adb2c1;
    border-radius: 5px;
}

/* Estilos para los cuadros */
.area-box {
    display: inline-block;
    width: 200px;
    border: 1px solid #2c3e50; /* Azul oscuro */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.area-title {
    font-weight: bold;
    font-size: 18px;
    color: #2980b9; /* Azul brillante */
}

.area-description {
    font-size: 16px;
    margin-top: 10px;
    color: #3498db; /* Azul claro */
}
