.tituloTest,
.cajaAdvertencia {
  padding: 20px;
  background-color: #67b6e0; /* Color de fondo azul */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); /* Sombra ligera */
  margin-bottom: 20px; /* Espacio debajo de la sección */
  text-align: justify; /* Texto justificado */
  max-width: 600px; /* Ancho máximo reducido */
  margin-left: auto; /* Centra el elemento */
  margin-right: auto; /* Centra el elemento */
}

.tituloTest,
.cajaAdvertencia {
  text-align: center; /* Centra el texto */
  font-size: 1.5em; /* Aumenta el tamaño del texto */
}

.recuadroPreguntas {
  background-color: #dbd3d3;
  padding: 20px;
  margin: 20px auto;
  width: calc(100% - 40px); 
  max-width: 700px;
  text-align: center;
  border-radius: 10px; 
  font-family: monospace;
}

section {
  margin-bottom: 20px; 
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.centrarBoton {
  text-align: center;
}


header {
  background-color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
}

.tituloTest {
  text-align: center;
  font-family: monospace;
  font-size: 40px;
}

.cajaAdvertencia {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}


nav {
  background-color: #ddd;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.linkBarra {
  color: #00b5d6;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  padding: 15px 30px;
}

.linkTest {
  color: #3a4972;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  padding: 15px 50px;
  background-color: #adb2c1;
  border-radius: 5px;
}

section label {
  color: #00b5d6; 
}

.botonTerminar {
  background-color: #00b5d6; 
  color: white; 
  font-weight: bold; 
  font-size: 20px; 
  padding: 15px 30px; 
  border: none; 
  border-radius: 10px; 
  cursor: pointer; 
  font-family: monospace;
}

/* Estilos para la ventana emergente */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index: 9999;
  width: calc(100% - 40px); 
  max-width: 500px; 
  font-family: monospace;
  text-align: center; 
  overflow-y: auto; 
}

.popup h2 {
  margin-top: 0;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup .close:hover {
  color: red;
}

.popup .Resultados {
  margin-bottom: 20px; 
}

.popup .Resultados p {
  font-family: monospace;
}

.barraDeCarga {
  background-color: #f2f2f2;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.barraDeCarga .progreso {
  background-color: #00b5d6;
  height: 100%;
  width: 0;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}


.popup .carrera {
  margin-bottom: 10px;
}

.popup .carrera p {
  margin: 0;
  font-family: monospace;
  color: #333; 
}

.popup .carrera p:first-child {
  font-weight: bold;
}

.botonDescargarPDF {
  background-color: #00b5d6;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: monospace;
  margin-top: 20px; /* Espacio adicional entre el botón y el contenido anterior */
}

.botonDescargarPDF:hover {
  background-color: #0089a5; /* Cambio de color al pasar el mouse */
}
